body {
    font-family: "Winky Sans", sans-serif;
}

header {
    background-color: rgb(123, 153, 67);
    width: auto;
    padding-top: 3%;
    padding-bottom:1%;
}

h1 {
    text-align: center;
    color: white;

}
.nav ul {
    display: flex;
    justify-content:end;
    margin-right: 3%;
    gap: 3%;
    font-size: x-large;
    padding-top: 2%;
}
.nav ul li {
    list-style: none;
}
.nav ul li a {
    color: white;
    font-style: italic;
    text-decoration: none;
}

.nav ul li a:hover {
    border-right-color: dimgrey;
    font-weight: bold;
}

#sobre_mi {
    display: flex;
    justify-content: space-around;
    font-size: larger;
}

.Titulo {
    border-top-style: groove;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin-top: 1%;
    padding-top: 2%;
}

.tarjetas {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    gap: 10%;
}

.TituloCadaTarjeta {
    display: flex;
    justify-content: center;
    font-size: x-large;
    
}
.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: rgb(213, 252, 142);
    border-radius: 5%;
    border-right-style: double;
}
.imagen{
    width: 25vmax;
    height: 18vmax;
    align-content: center ;

}

.textoParrafoAlineado {
    width: 90%;
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-top: 3%;
    text-align: center;
    padding: 1%;
}

.Habilidades {
    display: flex;
    border-top-style: groove;
    margin-top: 3%;
    background-color: rgb(153, 192, 81);
    justify-content: center;
    gap: 10%;
    height:auto;
    
}
.TituloHabilidades{
    display: flex;
    justify-content: center;
    writing-mode:sideways-lr;
    font-size: xx-large;
    
}
.textoHabilidades li {
    padding-top: 6%;
    font-size: 1.25rem;
}


.tarjetaPeli {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    width: auto;
    background-color: rgb(245, 247, 243);
    border-radius: 2%;
    border-right-style: double;
}


.TituloContacto {
    display: flex;
    border-top-style: groove;
    padding-top: 2%;
    justify-content: center;
    font-size: xx-large;
}
.AreaContacto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    
}
.formulario {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(210, 255, 127);
    padding: 10%;
    border-radius: 5%;
    border-right-style: double;
    width: 100%;
    
    gap: 5%;
}
.boton {
    font-size: x-large;
    width: 50%;
    background-color: rgb(153, 192, 81);
    border-color: black;
    margin-top: 8%;
}


.footer{
    display: flex;
    width: 100%;
    padding: 1%;
    justify-content: center;
    justify-self: center;
    gap: 5%;
    background-color: rgb(123, 153, 67);
   
}


@media (min-width: 359px ) and (max-width:750px) {
    .nav ul {
        display: block;
        margin-right: 0%;
        gap: 0%;
        font-size: medium;
        padding-top: 1%;
        width: min-content;
        justify-self: end;
        
    }

    #sobre_mi {
        display: block;
        justify-items: center;
    }

    .tarjetas {
        display: block;
        justify-items: center;
        align-content: center;
        margin-left: 0%;
        margin-right: 0%;
        
        gap: 0%;
    }
    .tarjeta {
        
        flex-direction:column;
        justify-content: center;
        align-items:center;
        width: 80%;
        background-color: rgb(213, 252, 142);
        border-radius: 5%;
        border-right-style: double;
        border-bottom-style: double;
    }
    .imagen{
              
        width:auto;
        margin-left: 8%;
        
    }
    .textoParrafoAlineado {
        width: 95%;
        font-size: 1rem;
        line-height: 1.4rem;
        margin-top: 3%;
        text-align: center;
        padding: 1%;
    }

    .Habilidades {
        display: flex;
        gap: 1%;
        
    }
    .textoHabilidades li {
        padding-top: 6%;
        font-size: 1rem;
    }

    .tarjetaPeli {
        display: block;
        justify-items: center;
        width: auto;
        background-color: rgb(245, 247, 243);
        border-radius: 2%;
        border-right-style: double;
        border-bottom-style: double;
    }
    
    .AreaContacto{
        display: block;
        justify-self: center;
        align-items: center;
        gap: 10%;
        
    }
    
    .formulario {
        font-size:large;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 10%;
        background-color: rgb(210, 255, 127);
        border-radius: 5%;
        border-right-style: double;
        width: 35vmax;
        height: 25vmax;
        
    }
    .boton {
        font-size:medium;
        width: 50%;
        background-color: rgb(153, 192, 81);
        border-color: black;
        margin-top: 8%;
    }
   
    .footer{
        display: flex;
        background-color: rgb(123, 153, 67);
        padding: 2%;
        justify-content: center;
        justify-self: center;
        gap: 15%;
       
    }
}

    @media (max-width: 360px){
        .nav ul {
            display: block;
            margin-right: 0%;
            gap: 0%;
            font-size:medium;
            padding-top: 1%;
            width: min-content;
            justify-self: end;
            
        }
    
        #sobre_mi {
            display: block;
            justify-items: center;
        }

        .tarjetas {
            display: block;
            justify-items: center;
            align-content: center;
            margin-left: 0%;
            margin-right: 0%;
            
            gap: 0%;
        }
        .tarjeta {
            display: block;
            flex-direction:column;
            justify-content: center;
            align-items:center;
            width: 80%;
            background-color: rgb(213, 252, 142);
            border-radius: 5%;
            border-right-style: double;
        }
        .imagen{
            width: 30vmax;
            height: 18vmax;
            align-content: center ;
            margin-left: 10%;
            
        }
        .textoParrafoAlineado {
            width: 95%;
            font-size: 1rem;
            line-height: 1.4rem;
            margin-top: 3%;
            text-align: center;
            padding: 1%;
        }

    
        .Habilidades {
            display: flex;
            gap: 0%;
            
            
        }
        .textoHabilidades li {
            padding-top: 6%;
            font-size: 0.8rem;
        }

        .tarjetaPeli {
            display: block;
            flex-direction:column;
            justify-content: center;
            align-items:center;
            width:auto;
            background-color: rgb(245, 247, 243);
            border-radius: 2%;
            border-right-style: double;
            border-bottom-style: double;
        }
        .AreaContacto{
            display: block;
            justify-self: center;
            align-items: center;
            gap: 0%;
            
        }
        
        .formulario {
            font-size:medium;
            display:flex;
            flex-direction: column;
            align-items: center;
            padding: 10%;
            background-color: rgb(210, 255, 127);
            border-radius: 5%;
            border-right-style: double;
            width: 35vmax;
            height: 30vmax;
            
        }
        .boton {
            font-size:medium;
            width: 50%;
            background-color: rgb(153, 192, 81);
            border-color: black;
            margin-top: 8%;
        }


        .footer{
            display: flex;
            justify-content: center;
            justify-self: center;
            background-color: rgb(123, 153, 67);
            gap: 10%;
           
        }

    }
    
